<!-- SyntaxHighlighter -->
<script type="text/javascript" src="${contextPath}/js/shCore.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shLegacy.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushBash.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushBat.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushCpp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushCSharp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushCss.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushDelphi.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushDiff.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushGroovy.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushJava.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushJScript.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushPhp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushPlain.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushPython.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushRuby.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushPerl.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushScala.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushSql.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushVb.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushXml.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushAS3.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushJavaFX.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushPowerShell.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushColdFusion.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/js/shBrushErlang.js?${startupTime}"></script>
<script type="text/javascript">
/* <![CDATA[ */
  SyntaxHighlighter.config.clipboardSwf = '${contextPath}/js/clipboard.swf';
  SyntaxHighlighter.all();
  dp.SyntaxHighlighter.HighlightAll('code');
/* ]]> */
</script>
