<!-- SyntaxHighlighter -->
<script type="text/javascript" src="${contextPath}/javascript/shCore.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shLegacy.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushBash.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushBat.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCpp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCSharp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCss.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushDelphi.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushDiff.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushGroovy.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJava.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJScript.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPhp.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPlain.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPython.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushRuby.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPerl.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushScala.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushSql.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushVb.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushXml.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushAS3.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJavaFX.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPowerShell.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushColdFusion.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushErlang.js?${startupTime}"></script>
<script type="text/javascript">
/* <![CDATA[ */
  SyntaxHighlighter.config.clipboardSwf = '${contextPath}/javascript/clipboard.swf';
  SyntaxHighlighter.all();
/* ]]> */
</script>
