<style type="text/css">@import url( ${contextPath}/templates/default/styles/style.css?${startupTime} );</style>

<form action="${JForumContext.encodeURL("/adminAnnouncement/save")}" method="post" name="form" id="form" accept-charset="${encoding}">

<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
	<tr>
		<th class="thhead" valign="middle" height="25">${I18n.getMessage("Admin.announcements.title")}</th>
	</tr>
    <tr><td>
		<div align="center">
		  <textarea name="announce" rows="15" cols="80" wrap="virtual" style="width:600px" class="liteoption">${announcement}</textarea>
		  <br />
		  <input type="submit" value="${I18n.getMessage("Admin.announcements.button")}" />
		</div>
	</td></tr>
</table>

</form>
